*{
    box-sizing: border-box;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
}

/* nav */
.custom-nav{
    position: fixed;
    left: 0px;
	right: 0px;
	top: 0px;
    width: 100%;
    padding:.5rem 0rem;
    z-index: 9999;
    transition: all .5s ease-in;

}
.custom-nav .navbar > a{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.custom-nav .navbar > a span ,.welcome-caption h2 span{
    color: tomato;
}
.custom-nav::after{
    content: "";
    position: absolute;
    width: 100%;
    color: white;
    opacity: .1;
    height: 2px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
}
.navbar-collapse .navbar-nav .nav-item >a{
    color: white;
    font-size: 18px;
    opacity: .9;
    font-weight: 500;
    transition: color .4s;
}

.navbar-collapse .navbar-nav .nav-item >a:hover{
    color: tomato !important;
}

/* end nav */

/* header */
.header-content{
	background-image: url(../img/header/hero-bg.jpg);
	background-size: cover;
	height: 80vh;
	width: 100%;
}
/* end header */

/* btn up */
.btn-up{
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    z-index:9999999;
}
.btn-up a i {
    color: white !important;
}
/* end of btn up */

/* offers */
.card{
    
    margin:0px auto 30px;
    overflow: hidden;
    transition: box-shadow .6s;
    
}
.card:hover{
    box-shadow: 1px 1px 8px 1px #888888;
    cursor: pointer;
}
.card-img-top{
    width: 100%;
    height: 300px;
}
.container-offer{
    background-color: #F5F5F5;
}
.offers-header{
    padding:2rem 0rem 3rem;
}
.offers-header h2{
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}
.price{
    font-size: 24px;
    font-weight: 600;
}
.fa-dollar-sign{
    font-size: 16px;
    color: green;
}
.btn-primary{
    color: white;
    background-color: tomato;
    border: tomato !important;
    box-shadow: tomato !important;
    background-color: tomato !important;
    border-color: tomato !important;
}
.btn-primary:hover,.btn-primary:focus ,.btn-primary:active{
    border: tomato !important;
    box-shadow: none !important;
    background-color: tomato !important;
    border-color: tomato !important;

}
/* end offers */

/* FOOTER */
.footer-section{
    background: #111111;
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer-caption >h5{
    color:#eb3c5a;
    font-size: 18px;
}
.footer-caption >p{
    color: #fff;
    font-weight: 600;
}
.footer-img{
    background-image: url(../img/footer/footer-signup.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;

}

.footer-img-caption{
    
    padding: 0px 50px;
    /* background-color: tomato; */
    
}
.footer-caption-left{
    /* background-color: #09c; */
    height: 100%;

}
.footer-caption-left>h5, .footer-caption-left>h6{
    color:white;
}
.footer-caption-left>h5{
    font-weight: 600;
}
.footer-caption-left>h6{
    font-weight: 400;
    font-size:16px ;
}
.footer-caption-right{
 
    height: 100%;
    width: 100%;
    /* background-color: teal; */
}
.footer-caption-right>input{
    width:79%;
    height: 48px;
    font-size: 14px;
    color: #bdbdbd;
    border: 1px solid #ffffff;
    padding-left: 22px ;
    border-radius: 0px;
    border: none;
    display: inline-block;
    margin: 0px;
}
.footer-caption-right >button{
    background: linear-gradient(to right, #eb3c5a, #f67831);
    color: white;
    width: 20%;
    padding: 12px 20px;
    
    border: 0px;
    margin-left: -2px;
    border-radius: 0px;
    
}
.footer-caption-right >button:hover{
    color: white;
}
.footer-copy-right >p,.terms >p, .policy>p{
    color:white;
    font-weight: 600;
    
}
.footer-copy-right >p{
    padding-right: 18px;
}
.social-media >a> i{
    color:#fff;
    padding-right: 15px;
    padding: 10px 15px 10px 0px;
    cursor: pointer;
    transition: color .4s;
}
.social-media >a> i:hover{
    color: #f15d44;
}
/* end footer */








@media (max-width: 991px) and (min-width: 200px)
{
    .custom-nav
    {
        background-color: rgba(255, 255, 255, 1) !important;
    }
    .fa-bars{
     color: black;
    }
    .custom-nav .navbar > a,.navbar-collapse .navbar-nav .nav-item >a{
        color: black !important;
    }
    .nav-item{
        padding: 0px;
    }
    h1{
        font-size: 30px !important;
    }
    .header-caption .caption p {
        width: 80%;
        font-size: 14px;
    }
 
}
